<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nettbutikk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Velkommen til vår nettbutikk</h1>
    </header>
    <main>
        <div id="menu">
            <h2>Hovedmeny</h2>
            <a href="/products"><button>Se produkter</button></a>
            <a href="/cart"><button>Gå til handlekurv</button></a>
        </div>
    </main>
</body>
</html>
